@{
    ViewData["Title"] = "Sobre";
}

<h1 style="color:white">@ViewData["Title"]</h1>

<p style="color:white">Trabalho Final da unidade curricular de Desenvolvimento Web. 
    TFlix é uma aplicação que disponibiliza uma vasta gama de filmes que posteriormente podem ser subscritos pelos utilizadores interessados, 
    ficando disponíveis por um determinado tempo.</p>

<div class="sobre">

    
    <p>Link GitHub: <a href="https://github.com/FMelo23155/TMelix">TMelix </a></p>
    <p>Link GitHub API: <a href="https://github.com/Tomas23052/TMelix_API">TMelix_API</a></p>
    <p style="color:white"></p>
    <br />
    <p> Trabalho Realizado por:</p>
    

    <div class="informacao_nos">

        <div class="mv-card" align="center">
            <div class="mv-header" style="background-image: url(/Fotos/tomas.jpg); background-size: cover;  background-position: center">

                <div class="header-icon-container">
                    <a class="mvs" href="#">
                        <i class="fa header-icon"></i>
                    </a>
                </div>
            </div><!--movie-header-->
            <div class="mv-content">
                <div class="mv-content-header">
                    <div class="mvs">
                        <h3 class="title">Tomás Silva</h3>
                        <h4 style="font-weight:lighter !important; color: black;font-size:20px">Nº23052</h4>

                    </div>

                </div>
            </div><!--movie-content-->
        </div>

        <div class="mv-card" align="center">
            <div class="mv-header" style="background-image: url(/Fotos/melo.jpg); background-size: cover;  background-position: center">

                <div class="header-icon-container">
                    <a class="mvs" href="#">
                        <i class="fa header-icon"></i>
                    </a>
                </div>
            </div><!--movie-header-->
            <div class="mv-content">
                <div class="mv-content-header">
                    <div class="mvs">
                        <h3 class="title">Francisco Melo</h3>
                        <h4 style="font-weight:lighter !important; color: black;font-size:20px">Nº23155</h4>

                    </div>

                </div>
            </div><!--movie-content-->
        </div>





</div>



</div>