@using Microsoft.AspNetCore.Identity;
@using TMelix.Data;
@model TMelix.Models.Filme

@{
    ViewData["Title"] = "Create";
}

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@if (_signInManager.IsSignedIn(User) && !User.IsInRole("Administrador"))
{
    <header>
        <h1 class="text-danger">Acesso negado</h1>
        <p class="text-danger">Não tem acesso para aceder.</p>
    </header>
}else{

    <h1>Adicionar novo Filme</h1>
    <hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopse" class="control-label"></label>
                <input asp-for="Sinopse" class="form-control" />
                <span asp-validation-for="Sinopse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classificacao" class="control-label"></label>
                <input asp-for="Classificacao" class="form-control" />
                <span asp-validation-for="Classificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elenco" class="control-label"></label>
                <input asp-for="Elenco" class="form-control" />
                <span asp-validation-for="Elenco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a style="float:right" class="btn btn-secondary" asp-action="Index">Voltar à lista</a>
            </div>
        </form>
    </div>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
